aiohappyeyeballs==2.3.4
aiohttp==3.10.0
aiosignal==1.3.1
attrs==23.2.0
colorama==0.4.6
docopt==0.6.2
frozenlist==1.4.1
idna==3.7
iniconfig==2.0.0
iso8601==2.1.0
markdown-it-py==3.0.0
mdurl==0.1.2
multidict==6.0.5
packaging==24.1
pluggy==1.5.0
Pygments==2.18.0
pytest==8.3.2
pytest-watch==4.2.0
python-dotenv==1.0.1
rich==13.7.1
twitchio==2.10.0
typing_extensions==4.12.2
watchdog==4.0.1
yarl==1.9.4
